[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
click = "*"
tabulate = "*"
flask = "*"
flask-wtf = "*"
python-dotenv = "*"
colorama = "*"

[dev-packages]
pytest = "*"
black = "*"
flake8 = "*"

[requires]
python_version = "3.11"
